{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<main  class="flex items-center justify-center p-6" style="min-height:80vh;"> 
  <div class="text-xl md:text-2xl flex items-center justify-center flex-col" style="padding:5rem 2rem;">
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
{% comment %} <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1> {% endcomment %}

<p class="capitalize mb-6 p-8" >{% blocktrans with provider.name as provider %}You should be redirect to the {{ provider }} login page in some seconds otherwise use the button below.{% endblocktrans %}</p>
{% endif %}
<form method="post" class="p-6" name={{provider.name}}>
  {% csrf_token %}
  <button class="p-4 bg-gradient-to-r from-purple-500 to-pink-500 shadow-xl text-sky-200 rounded tracking-wider" type="submit">{% trans "Continue" %}</button>
</form>

</div>
</main>
{% endblock %}
