{% extends "account/base.html" %}

{% comment %} {% extends "socialaccount/base.html" %} {% endcomment %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <main class="flex flex-col items-center justify-center text-2xl p-6" style="min-height:80vh;">


<p class="mb-3 capitalize">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to Django-Natours.{% endblocktrans %}</p>

<p class="mb-3 capitalize"> An account already exists with this e-mail address. Please sign in to that account first, then connect your GitHub account.</p>

<a href="/accounts/login" class="p-8 mt-8 mb-6 bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg text-white p-4 text-2xl capitalize tracking-widest" type="submit">go back an login!</a>

</main>

{% endblock %}
