<div
  id="map"
  class="h-[60vh] md:h-[80vh]"
  data-locations=' { "description": "{{locationDes}}", "coords":
"{{locationCoords}}", "days": "{{locationDay}}", "startLocation":
"{{startLocation}}" }'
></div>

<!-- 

  
 

{% comment %} { "description": "{{locationDes}}", "coords":
"{{locationCoords}}", "days": "{{locationDay}}", "startLocation":
"{{startLocation}}" } with coords=coords locationDes=locationDes
locationCoords=locationCoords locationDay=locationDay
startLocation=startLocation {% endcomment %}
 -->
